<%= render 'layouts/navigation'%>

<%# <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> %>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container content_container">
	<table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <% current_cart.items.each do |item| %>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs mx-auto"><img src="https://images.unsplash.com/photo-1590992754618-1490fd4f435a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=644&q=80" alt="..." class="img-responsive img-fluid"/></div>
                            <div class="col-sm-8 mx-auto">
                                <h4 class="nomargin"> <%= item.product.name%> </h4>
                                <p> <%= truncate(item.product.description, length: 50)%> </p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price"><%= number_to_currency(item.product.price) %></td>
                    <td data-th="Quantity">
                        <p><%= item.quantity %></p>
                        <span  class='text-center'>
                            <%= link_to '<button class="btn btn-danger btn-sm "><i class= "fa fa-minus" aria-hidden="true"></i></button>'.html_safe, item_reduce_path(:id => item), method: :post%>
                        </span>
                        
                        <span class='text-center'>
                            <%= link_to '<button class="btn btn-success btn-sm"><i class= "fa fa-plus" aria-hidden="true"></i></button>'.html_safe, item_add_path(:id => item), method: :post%>
                        </span>

                    </td>
                    <td data-th="Subtotal" class="text-center"> <%= number_to_currency(item.total_price) %></td>

                    <td class="actions" data-th="">
                        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                     								
                        <%= link_to '<button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>'.html_safe, item_path(item), method: :delete%>

                    </td>
                </tr>
            <% end %>
             
        <%# <div class="col-sm-2 hidden-xs mx-auto"><img src="http://placehold.it/100x100" alt="..." class="img-responsive img-fluid"/></div> %>

        </tbody>
        <tfoot>
            <%# <tr class="visible-xs">
                <td class="text-center"><strong>Total 1.99</strong></td>
            </tr> %>
            <tr>
                <td><a href="/products" class="btn btn-warning"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total <%= number_to_currency(current_cart.sub_total) %> </strong></td>
                
                <td><a href="/orders/new" class="btn btn-success btn-block">Checkout <i class="fa fa-arrow-circle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>